*~
aclocal.m4
lib/Makefile.in
Doxyfile
Makefile
Makefile.in
autom4te.cache/
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
lib/.deps/
lib/.libs/
lib/Makefile
lib/kdtree_cartesian.lo
lib/kdtree_cartesian.o
lib/kdtree_common.lo
lib/kdtree_common.o
lib/kdtree_spherical.lo
lib/kdtree_spherical.o
lib/libkdtree.la
lib/pmergesort.lo
lib/pmergesort.o
lib/pqueue.lo
lib/pqueue.o
lib/qsort.lo
lib/qsort.o
libtool
ltmain.sh
missing
src/.deps/
src/Makefile
src/Makefile.in
src/example_cartesian
src/example_cartesian.o
src/example_spherical
src/example_spherical.o
stamp-h1
test-driver
tests/.deps/
tests/Makefile
tests/Makefile.in
tests/create_pointlist.o
tests/naive_ortRangeSearch.o
tests/naive_sph_ortRangeSearch.o
tests/points_eq.o
tests/sorted_queues_eq.o
tests/test-suite.log
tests/test_cartesian_nn
tests/test_cartesian_nn.o
tests/test_cartesian_nn.sh.log
tests/test_cartesian_nn.sh.trs
tests/test_cartesian_qnearest
tests/test_cartesian_qnearest.o
tests/test_cartesian_qnearest.sh.log
tests/test_cartesian_qnearest.sh.trs
tests/test_cartesian_range
tests/test_cartesian_range.o
tests/test_cartesian_range.sh.log
tests/test_cartesian_range.sh.trs
tests/test_cartesian_rectangle
tests/test_cartesian_rectangle.o
tests/test_cartesian_rectangle.sh.log
tests/test_cartesian_rectangle.sh.trs
tests/test_kd_sph_isPointInRect
tests/test_kd_sph_isPointInRect.log
tests/test_kd_sph_isPointInRect.o
tests/test_kd_sph_isPointInRect.trs
tests/test_kd_sph_isRectInRect
tests/test_kd_sph_isRectInRect.log
tests/test_kd_sph_isRectInRect.o
tests/test_kd_sph_isRectInRect.trs
tests/test_kd_sqr
tests/test_kd_sqr.log
tests/test_kd_sqr.o
tests/test_kd_sqr.trs
tests/test_spherical_nn
tests/test_spherical_nn.o
tests/test_spherical_nn.sh.log
tests/test_spherical_nn.sh.trs
tests/test_spherical_qnearest
tests/test_spherical_qnearest.o
tests/test_spherical_qnearest.sh.log
tests/test_spherical_qnearest.sh.trs
tests/test_spherical_range
tests/test_spherical_range.o
tests/test_spherical_range.sh.log
tests/test_spherical_range.sh.trs
tests/test_spherical_rectangle
tests/test_spherical_rectangle.o
tests/test_spherical_rectangle.sh.log
tests/test_spherical_rectangle.sh.trs
tests/unsorted_queues_eq.o

